.detail {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.goBack {
    color: #fff;
    background-color: #a60bc5;
    border-radius: 15px;
    box-shadow: 0 5px #666;
    text-decoration: none;
    padding: 5px;
    font-size: 14px;
}

.goBack:hover {
    background-color: #23109e
}

.goBack:active {
    background-color: #a60bc5;
    box-shadow: 0px 5px 10px #c5bac7;
    transform: translateY(4px);
}

.div-detail {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.Title {
    color: white;
    padding-top: 2rem;
    text-shadow: 4px -1px 0px rgba(9, 8, 8, 0.73);
}

/* .name {
    text-decoration: none;
    display: block;
    border: 1px solid blue;
    width: 50px;
    height: 15px;
    border-radius: 5%;
    padding-top: 20px;
    font-family: arial;
    transition: 2s;
} */

#card {
    height: 30rem;
    width: 35rem;
    margin-top: 8rem;
    background-color: rgba(68, 74, 75, 0.84);
    border-radius: 5rem;
}


h4 {
    color: white;
    text-shadow: 4px -1px 0 rgba(8, 8, 8, 0.902)
}

/* .id {
    color:blue
} */

.images {
    padding-bottom: 15px;
    transition: 1.4s;
    margin-left: 10px;
    margin-top: 5rem;
}

.images:hover {
    margin-top: 5px;
    transition: 1.9s;
    transform: scale(1.1);
}

@media (max-width: 1100px) {
    .detail {
        justify-content: center;
        padding: 0;
    }
    .div-detail {
        flex-direction: column;
        margin: 0 auto;
    }
    .images {
        margin-top: 0;
    }
    #card {
        margin: 0 auto;
    }
}