.detail {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Title {
    color: white;
    padding-top: 2rem;
    text-shadow: 4px -1px 0px rgba(9, 8, 8, 0.73);
}

.name {
    text-decoration: none;
    display: block;
    border: 1px solid blue;
    width: 200px;
    height: 45px;
    border-radius: 5%;
    padding-top: 20px;
    font-family: arial;
    transition: 2s;
}

#card {
    height: 30rem;
    width: 35rem;
    margin-top: 8rem;
    background-color: rgba(68, 74, 75, 0.84);
    border-radius: 5rem;
}


h4 {
    color: white;
    text-shadow: 4px -1px 0 rgba(8, 8, 8, 0.902)
}

/* .id {
    color:blue
} */

.image {
    padding-bottom: 15px;
    transition: 1.4s;
    margin-left: 10px;
    margin-top: 5rem;
}

.image:hover {
    margin-top: 5px;
    transition: 1.9s;
    transform: scale(1.2);
}