.detail {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.goBack {
    width: 100%;
    margin-bottom: 2px;
    color: #fff;
    background-color: #a60bc5;
    border-radius: 15px;
    box-shadow: 0 5px #666;
    text-decoration: none;
    padding: 5px;
    font-size: 14px;
}

.goBack:hover {
    background-color: #23109e
}

.goBack:active {
    background-color: #a60bc5;
    box-shadow: 0px 5px 10px #c5bac7;
    transform: translateY(4px);
}

.div-detail {
    display: flex;
    flex-direction: row;
    margin: 10px auto;
}

.Title {
    color: white;
    padding-top: 2rem;
    text-shadow: 4px -1px 0px rgba(9, 8, 8, 0.73);
}

#card {
    padding: 2%;
    background-color: rgba(68, 74, 75, 0.84);
    border-radius: 5rem;
}


h4 {
    color: white;
    text-shadow: 4px -1px 0 rgba(8, 8, 8, 0.902)
}

.image-poke {
    transition: 1.4s;
}

.image-poke:hover {
    transition: 1.9s;
    transform: scale(1.1);
}

@media (max-width: 1100px) {
    .div-detail {
        size: 12px;
        flex-direction: column;
        align-items: center;
        margin: -60px 0;
    }
    .image-poke {
        scale: 0.5;
    }
    /* @keyframes latidos {
        from { transform: none; }
        50% { transform: scale(1.2); }
        to { transform: none; }
    }
    .image-poke:hover{
        animation: latidos 8s infinite;
    } */
    #card {
        scale: 0.5;
        margin-top: -190px;
    }
        /* .image-poke:hover {
            transform: rotateY(3600deg);
        } */

        .image-poke:hover {
            border-radius: 50%;
            -webkit-border-radius: 50%;
            box-shadow: 0px 0px 15px 15px #ec731e;
            -webkit-box-shadow: 0px 0px 15px 15px #ec731e;
            transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
        }
        
}
