.pagination {
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    width: auto;
    align-self: center;
    margin-left: 375px;
}

.pagination button {
    background: none;
    border: none;
    color: white;
    font-size: 22px;
    cursor: pointer;
}

/* .pagin {
    background-color:rgb(135, 15, 162);
    color:rgb(135, 15, 162);
} */

.paginated .pagin {
    /* background: url(./pokeAbierta4.png); */
    /* background-size: cover; */
    color:rgb(135, 15, 162);
    font-weight: bold;
    width: 70px;
    height: 70px;
}

.pagin:hover {
    background-color: rgb(245, 235, 235);
    color: rgb(67, 128, 192);
    cursor: pointer;
    border-radius: 15%;
}

.pagin:focus {
    transition: background-color .3s;
    background-color: rgb(135, 15, 162);
    color: rgb(67, 128, 192);
    border-radius: 15%;
}

